<div class="p-10">
    <button class="profit border-2 rounded border-black p-2 bg-green-400 text-lg">ДОХОД</button>
    <button class="expense border-2 rounded border-black p-2 bg-red-400 text-lg">РАСХОД</button>
</div>