<div>
  <app-router>
    <app-route
      path="/"
      title="Home Page"
      component="home-page"
    ></app-route>
    <app-route
      path="/dashboard"
      title="Dashboard Page"
      component="dashboard-page"
    ></app-route>
    <app-route
      path="/board"
      title="Board Page"
      component="board-page"
    ></app-route>
    <app-route
      path="/sign-in"
      title="Sign In"
      component="sign-in-page"
    ></app-route>
    <app-route
      path="/sign-up"
      title="Sign Up"
      component="sign-up-page"
    ></app-route>
    <app-route
      path="/404"
      title="404 | Not Found"
      component="not-found"
    ></app-route>
    <app-outlet></app-outlet>
  </app-router>
</div>